body {
    font-family: 'Fira Sans', 'Noto Sans TC', sans-serif;
    line-height: 2.0;
}
div.container-fluid {
    padding: 70px 5%;
}
nav.navbar {
    margin-bottom: 0;
    border: 0;
    padding: 15px 0;
    // Animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
nav.navbar.shrink {
    padding: 0px 0;
    min-height: 35px;
}
.navbar-nav li a:hover {
    background-color: #757575 !important;
    color: #f5f5f5 !important;
    border-radius: 10px !important;
}
.active a{
    border-radius: 10px !important;
}
header {
    background-image: url("../img/header.jpg");
    background-position: center 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    text-align: center;
    padding: 250px 0 200px;
}
span {
    padding-right: 5px;
    margin: 0 auto;
}
/*For xs devices*/
#home div h1 {
    font-weight: 900;
    font-size: 7vmax;
    -webkit-text-stroke: 1px #424242;
}
#home div h1 small {
    font-weight: 900;
    -webkit-text-stroke: .25px #ffffff;
}
/*For sm-md-lg devices*/
@media screen and (min-width: 768px){
    #home div h1 {
        font-weight: 900;
        font-size: 4.5vmax;
        -webkit-text-stroke: 1.5px #424242;
    }
    #home div h1 small {
        font-weight: 900;
        -webkit-text-stroke: .5px #ffffff;
    }
}
#home div p {
    font-size: 1.5vmax;
    text-shadow: 2px 2px #424242;
}
#intro {
    padding: 70px 15%;
    background-color: #333;
    color: white;
}
#portrait {
    max-width: 75%;
}
@media screen and (min-width: 768px){
    #portrait {
        max-width: 25%;
    }
}
@media screen and (max-width: 767px){
    #intro div {
        text-align: center;
    }
}
#intro p, #whoami p {
    padding: 15px 0;
}
#life {    
    padding: 70px 15%;
    background-color: #546e7a;
    color: #ffffff;
}
#life div {
    padding: 15px 0;
}
#life div a img {
    padding: 15px 0;
    max-width: 200px;
    margin: auto;
}
#life div.col-sm-3 {
    /*margin: 0.5%;*/
}
#life h4{
    padding: 0 10px;
}
#projects {
    background-color: #006064;
    color: #ffffff;
}
#projects .row {
    padding: 15px 0;
}
#life div a img {
    padding: 15px 0;
    max-width: 200px;
    margin: auto;
}
.gallery p {
    font-weight: 300;
}
.gallery img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 250px;
}
#life div.gallery:hover {
    /*border: 1px solid #777;*/
    background-color: #90a4ae;
    color: #000000;
    border-radius: 25px;
}
#projects div.gallery:hover {
    /*border: 1px solid #777;*/
    background-color: #26a69a;
    color: black;
    border-radius: 25px;
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: auto 0;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
footer {
    padding: 70px 0;
}
/*For xs devices*/
.rwd-line { display: block; }
/*For sm-md-lg devices*/
@media screen and (min-width: 768px){
    .rwd-line { display: inline; }
}
/*For xs devices*/
.button-rwd-line { display: block; }
/*For sm-md-lg devices*/
@media screen and (min-width: 512px){
    .button-rwd-line { display: inline; }
}