@media print {
    @page {size: A4 landscape; }

    .container-fluid {
        padding: auto auto;
    }
}
body { font-family: 'Inter', 'Noto Sans HK', 'Noto Sans JP', sans-serif; }
/*@supports (font-variation-settings: normal) {
body { font-family: 'Inter var experimental', 'Noto Sans HK', sans-serif; }
}*/
body {
    /*font-family: "FF Meta VF", 'Fira Sans', 'Noto Sans HK', sans-serif;*/
    line-height: 2.0;
    font-size: 15px;
    position: relative;
}
:lang(jp) 	{
    font-family: 'Inter', 'Noto Sans JP', 'Noto Sans HK', sans-serif;
}
.container-fluid {
    padding: 4.5rem 5%;
}
.navbar {
    padding: .5rem 1rem;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    /* Animation */
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.navbar.shrink {
    padding: 0 1rem;
    min-height: 2rem;
    /* Animation */
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
@media (min-width: 992px){
    .navbar, .navbar.shrink {padding-left: 10rem;}
    .navbar-brand {
        margin-right: 2rem;
    }
    .navbar .nav-link {
        margin-right: 1rem;
    }
}
.navbar-nav li a:hover {
    background-color: var(--md-grey-600) !important;
    color: var(--md-grey-100) !important;
    border-radius: 10px !important;
    padding-left: 8px;
}
.active a{
    border-radius: 10px !important;
}
#home {
    background-image: url("../img/header.jpg");
    background-position: center 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
header {
    height: 100vh;
}
header>div {
    margin-top: 4rem;
}
span {
    padding-right: 5px;
    margin: 0 auto;
}
/*For xs-sm devices*/
.heading h1 {
    font-weight: 900;
    font-size: 7vmax;
    -webkit-text-stroke: 1px var(--md-grey-800);
    text-shadow: 2px 2px 4px var(--md-grey-800);
}
.heading h1 small {
    font-weight: 900;
    -webkit-text-stroke: .25px white;
    text-shadow: 1px 1px 4px white;
}
.heading p {
    font-size: 3vmax;
    text-shadow: 2px 2px var(--md-grey-800);
}
/*For md-lg-xl devices*/
@media (min-width: 992px){
    .heading h1 {
        font-weight: 900;
        font-size: 4.5vmax;
        -webkit-text-stroke: 1.5px var(--md-grey-800);
        text-shadow: 2px 2px 4px var(--md-grey-800);
    }
    .heading h1 small {
        font-weight: 900;
        -webkit-text-stroke: .5px white;
        text-shadow: 2px 2px 4px white;
    }
    .heading p {
        font-size: 1.5vmax;
        text-shadow: 2px 2px var(--md-grey-800);
    }
}
h2 {
    font-weight: 600;
}
h3 {
    font-weight: 400;
}
#intro {
    padding: 70px 15%;
    /*background-color: #333;*/
    color: white;
}
#portrait {
    max-width: 75%;
}
@media (min-width: 768px){
    #portrait {
        max-width: 25%;
    }
}
#intro p, #whoami p {
    padding: 15px 0;
}
@media (min-width: 992px){
    #life {    
        padding: 70px 15%;
    }
}
#life div {
    padding: 15px 0;
}
#life img {
    padding: 15px 0;
    max-width: 200px;
    margin: auto;
}
#life h4{
    padding: 0 10px;
}
#projects div {
    padding: 15px 0;
}
#projects .row {
    padding: 15px 0;
}
.gallery p {
    font-weight: 300;
}
.gallery img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 250px;
}
#life .gallery:hover {
    /*border: 1px solid #777;*/
    background-color: var(--md-blue-grey-300);
    color: black;
    border-radius: 25px;
}
#projects .gallery:hover {
    /*border: 1px solid #777;*/
    background-color: var(--md-teal-400);
    color: black;
    border-radius: 25px;
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: auto 0;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
footer {
    display: fixed;
    padding: 30px 0;
}
.hover:hover {
    color: var(--md-blue-500) !important;
}
.cv-table tbody th, td{
     vertical-align: top;
}
