@media print {
    /*font-size: 12pt;*/
    @page {size: A4 portrait; }

    .container-fluid {
        padding: auto 0;
    }

    .cv {
        margin-top: 0 !important;
        padding-top: 1rem !important;
        font-size: 0.95em !important;
        line-height: 1.5 !important;
    }

    a {
        text-decoration: none !important;
    }

    h2 {
        font-size: 1.75em !important;
    }

    .d-abs {
        position: fixed !important;
        top: 0;
        right: 0;
        max-width: 35%;
        height: 100%;
        color: white;
        background-color: #546e7a;
        padding: 2rem;
    }

    .print-text-center {
        text-align: center;
    }

    .cv-body {
        max-width: 65%;
        margin: 0;
    }

    .personal {
        text-align: left;
        display: inline-flex;
        margin-right: 2rem;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .col-md-7.col-lg-6 {
        width: 60%;
    }

    .cv-table {
        margin-top: 1rem;
    }
    .cv > div {
        margin-bottom: 1rem;
    }
	.personal img {
		position: relative;
		top: -4px;
	}
}
@media screen {
    .d-abs {
        position: static;
    }
    .cv {
        font-size: 1.25em;
        margin-top: 4rem;
        padding-top: 2rem;
        line-height: 1.75 !important;
    }
    .cv-table {
        margin-top: 2rem;
    }
    .cv > div {
        margin-bottom: 2rem;
    }
    .personal {
        text-align: center;
        display: inline-block;
        margin-right: 2rem;
    }
	.personal img {
		position: relative;
		top: -2px;
	}
}
@media (max-width: 1023px){
    .cv-table {
        width: 100%;
    }
}
@media (min-width: 1024px){
    .cv-table {
        width: 55rem;
    }
}
.cv-table tbody th, .cv-table tbody td{
    vertical-align: top;
    padding-bottom: 1rem;
}
.cv a {
    color: inherit !important;
}
.desc-pre th, .desc-pre td{
    padding-bottom: 0 !important;
}
.desc-pre td{
    font-weight: 300 !important;
    font-style: italic;
    font-size: 90%;
}
.cv-table tbody th{
    width: 12.5rem;
}
.desc {
    padding-top: 0.25rem;
    font-weight: 300 !important;
    font-size: 80%;
}
.chi {
    position: absolute;
    left: 30rem;
}
.personal i, .personal .fas {
    vertical-align: middle;
    font-size: 125%;
    margin-right: 0.5rem;
    padding: auto;
}
.personal img {
	vertical-align: middle;
	margin-right: 0.5rem;
}
.personal {
    vertical-align: middle;
}
